.footer {
	&__top {
	}

	&__bottom {
	}
}
.top-footer {
	background-color: #5c7489;
	padding: 40px 0px 30px 0px;
	&__container {
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__column {
	}

	&__logo {
		flex: 0 0 130px;
		display: inline-block;
		margin: 0px 0px 25px 0px;
	}
	&__copy {
		margin: 0px 0px 20px 0px;
	}
	&__copy,
	&__address,
	&__scheme,
	&__text,
	&__link {
		font-weight: 300;
		color: #c8d4dc;
		font-size: 13px;
		line-height: 18px;
	}

	&__address {
		span {
			border-bottom: 1px solid;
			@media (min-width: $md2+px) {
				&:hover {
					border: none;
				}
			}
		}
	}

	&__scheme {
		span {
			border-bottom: 1px solid;
			@media (min-width: $md2+px) {
				&:hover {
					border: none;
				}
			}
		}
	}

	&__menu {
	}

	&__list {
		li {
			margin: 0px 0px 5px 0px;
		}
	}

	&__link {
		span {
			border-bottom: 1px solid;
			@media (min-width: $md2+px) {
				&:hover {
					border: none;
				}
			}
		}
	}

	&__contacts {
	}

	&__text {
		max-width: 275px;
	}

	&__social {
		display: flex;
		padding: 0px 95px 0px 0px;
	}
}
.contacts {
	&__bubble {
	}

	&__box {
		&_footer {
		}
	}
}
.box-contacts {
	&__phone {
		&_footer {
			color: #fff;
		}
	}

	&__days {
		&_footer {
			color: #fff;
		}
	}

	&__social {
	}

	&__email {
		&_footer {
			color: #fff;
		}
	}
}
.social-contacts {
	&__chat {
		&_footer {
		}
	}

	&__skype {
		&_footer {
		}
	}
}
.chat-social {
	&__whatsapp {
	}

	&__viber {
	}

	&__tel {
		&_footer {
			color: #fff;
		}
	}

	&__skype {
	}

	&__skype-login {
		&_footer {
			color: #fff;
		}
	}
}

.social {
	&__icon {
		margin: 0px 3px 0px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
		&_vk {
		}

		&_facebook {
		}

		&_twitter {
		}
	}
}

.bottom-footer {
	background-color: #2c3f53;
	padding: 15px 0px;
	&__container {
		display: flex;
		align-items: center;
	}

	&__text {
		font-weight: 300;
		color: #c8d4dc;
		font-size: 11px;
		line-height: 18px;
	}

	&__statistics {
		padding: 0px 0px 0px 270px;
	}
}
