.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-cart {
	font-size:(21.875/10)*1rem;
	width:(25.25/21.875)*1em;
}
.icon-compare {
	font-size:(19.906/10)*1rem;
	width:(14.88/19.906)*1em;
}
.icon-viber {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-whatsapp {
	font-size:(512/10)*1rem;
	width:(448/512)*1em;
}
