//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
// @import "fonts";
//
// @import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
// @import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";
// @import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
// @import "../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "sprite";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Roboto";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1400;
$maxWidthContainer: 1180;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 700.98;

$color: #1ab9ce;
// $fa-font-path: "../webfonts";
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0px 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
// @import "nouislider";
@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.ibg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.ibg img {
	display: none;
}
.page {
	flex: 1 1 auto;
}
.page {
	&__main {
	}
}
.main-page {
	margin: 0px 0px 50px 0px;
	@media (max-width: $md4 + px) {
		display: none;
	}
	&__container {
		display: flex;
	}

	&__side {
	}
	&__content {
		flex: 1 1 auto;
		min-width: 0;
	}
}
.side-news {
	flex: 0 0 265px;
	@media (max-width: $md2+px) {
		flex: 0 0 225px;
	}
	@media (max-width: $md3+px) {
		flex: 0 0 216px;
	}
	&__title {
		display: inline-block;
		width: 100%;
		font-size: 22px;
		padding: 10px 0px 10px 0px;
		border-bottom: 1px solid #dbdee6;
		color: #2c3333;
		margin: 0px 0px 30px 0px;
		text-transform: uppercase;
		font-weight: 500;
		@media (max-width: $md2+px) {
			font-size: 21px;
		}
		@media (max-width: $md3+px) {
			font-size: 20px;
		}
	}

	&__items {
	}

	&__item {
		display: flex;
		padding: 19px 0px;
		border-bottom: 1px dashed #dbdee6;
		&:first-child {
			padding-top: 0px;
		}
	}

	&__date {
		position: relative;
	}

	&__image {
		width: 60px;
		height: 60px;
		border-radius: 5px;
		img {
			max-width: 100%;
		}
	}

	&__days {
		position: absolute;
		left: 50%;
		top: 45px;
		text-align: center;
		transform: translate(-50%, 0%);
		color: #040d0d;
		span {
			width: 35px;
			height: 25px;
			background: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #ff5816;
			font-weight: 500;
			font-size: 15px;
			margin: 0px auto;
			border-radius: 5px;
		}
	}

	&__body {
		padding: 0px 0px 0px 15px;
		line-height: 18px;
		font-size: 13px;
		@media (max-width: $md2+px) {
			line-height: 17px;
		}
		@media (max-width: $md3+px) {
			font-size: 12px;
		}
	}

	&__label {
		display: inline-block;
		color: #4673ab;
		transition: all 0.3s ease;
		font-weight: 500;
		&:hover {
			color: #ff5816;
			text-decoration: underline;
		}
	}

	&__text {
		color: #040d0d;
	}
	&__all {
		display: inline-block;
		margin: 15px 0px 0px 0px;
		font-weight: 300;
		color: #4673ab;
		text-decoration: underline;
	}
}
.content-main {
	padding: 0px 0px 0px 30px;
	@media (max-width: $md2+px) {
		padding: 0px 0px 0px 20px;
	}
	&__title {
		padding: 15px 35px;
		background-color: #e3e5eb;
		font-style: italic;
		text-transform: uppercase;
		font-size: 16px;
		color: #131a1a;
		font-weight: 400;
		border-radius: 10px;
		margin: 0px 0px 25px 0px;
		@media (max-width: 1154px) {
			font-size: 14px;
		}
		@media (max-width: 1070px) {
			font-size: 13px;
		}
		@media (max-width: 1010px) {
			font-size: 12px;
		}
		@media (max-width: 910px) {
			font-size: 11px;
			padding: 15px 17px;
		}
		@media (max-width: 825px) {
			font-size: 9px;
			padding: 15px 7px;
		}
		&_items {
			font-weight: 700;
		}

		&_solutions {
			font-weight: 700;
			color: #4673ab;
		}
	}

	&__mainslider {
	}
}
.mainslider {
	position: relative;
	&__body {
		border-radius: 10px;
	}

	&__slide {
		padding: 43px 65px 52px 65px;
		position: relative;
		@media (max-width: $md2+px) {
			padding: 40px 30px 50px 30px;
		}
	}

	&__content {
		position: relative;
		z-index: 2;
	}

	&__title {
		font-size: 29px;
		text-transform: uppercase;
		line-height: 35px;
		margin: 0px 0px 5px 0px;
		color: #fff;
		font-weight: 300;
		span {
			display: block;
			font-size: 31px;
			color: #ff5816;
			font-weight: 500;
		}
		@media (max-width: $md2+px) {
			font-size: 16px;
			span {
				font-size: 20px;
			}
		}
	}

	&__label {
		text-transform: uppercase;
		font-size: 18px;
		font-style: italic;
		color: #fff;
		font-weight: 300;
		margin: 0px 0px 40px 0px;
		@media (max-width: $md2+px) {
			font-size: 11px;
		}
	}

	&__list {
		font-weight: 300;
		color: #fff;
		font-size: 13px;
		margin: 0px 0px 38px 0px;
		@media (max-width: $md2+px) {
			font-size: 10px;
		}
		li {
			padding: 0px 0px 0px 20px;
			margin: 0px 0px 10px 0px;
			background: url("../img/icons/dot.png") left center no-repeat;
		}
	}

	&__btn {
		display: inline-block;
		padding: 13px 35px 9px 35px;
		background-color: #fff;
		color: #4673ab;
		border-radius: 8px;
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 500;
		box-shadow: 0px 3px 0px 0px #c4c4c4;
		transition: all 0.3s ease;
		&:hover {
			background-color: #d8d6d6;
			box-shadow: 0px 3px 0px 0px #fff;
		}
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__controls {
	}

	&__pagging {
		position: absolute;
		right: 20px;
		bottom: 20px;
		.swiper-pagination-bullet {
			display: inline-block;
			width: 15px;
			height: 15px;
			background-color: #fff;
			border-radius: 3px;
			margin: 0px 3px 0px 0px;
			&-active {
				background-color: #ff5816;
			}
		}
	}
}
.controls {
	&__arrow {
		&_prev {
			left: 20px;
			@media (max-width: $md2+px) {
				left: 10px;
			}
		}
		&_next {
			right: 20px;
			@media (max-width: $md2+px) {
				right: 10px;
			}
		}
	}
}

.page {
	&__new {
	}
	&__recommend {
	}
	&__sale {
	}
	&__actions {
	}
	&__buy {
	}
	&__brands {
	}
	&__strength {
	}
	&__reasons {
	}
	&__numbers {
	}
}
.new-page {
	margin: 0px 0px 40px 0px;
	&__container {
	}

	&__top {
	}

	&__content {
	}

	&__items {
	}
}
.page-content {
	position: relative;
	padding: 0px 55px 0px 55px;
	@media (max-width: $md1+px) {
		padding: 0;
	}
}
.top {
	display: flex;
	align-items: center;
	margin: 0px 0px 35px 0px;
	span {
		flex: 1 1 auto;
		height: 1px;
		background-color: #dbdee6;
	}
	&__title {
		color: #040d0d;
		padding: 0px 20px 0px 0px;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 22px;
		position: relative;
		@media (max-width: $md1+px) {
			padding: 0px 57px 0px 0px;
			line-height: 24px;
			&:after {
				content: "";
				width: 10px;
				height: 24px;
				background: url("../img/icons/arrow-blue.png") 0px 0px no-repeat;
				position: absolute;
				right: 28px;
				top: 0;
			}
		}
	}

	&__right {
		font-weight: 300;
		font-size: 13px;
		color: #4673ab;
		text-decoration: underline;
		padding: 0px 0px 0px 12px;
		@media (max-width: $md1+px) {
			font-size: 0;
			padding: 0px 0px 0px 87px;
		}
	}
}
.items {
	display: flex;
	margin: 0px -15px;
}
.items-new {
	&__column {
	}
}
.items-column {
	padding: 0px 15px;
	margin: 3px 0px 0px 0px;
	&__item {
	}
}

.item {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	padding: 15px 20px 20px 20px;
	border: 1px solid #dbdee6;
	border-radius: 10px;
	position: relative;
	transition: all 0.3s ease;
	&:hover {
		border-color: #ff5e1e;
	}
	@media (max-width: $md1+px) {
		padding: 0px 10px 20px 10px;
	}
	@media (max-width: 476px) {
		padding: 0px 37px 20px 37px;
	}
	&__sticker {
		display: inline-flex;
		align-items: flex-end;
		justify-content: center;
		position: absolute;
		z-index: 2;
		top: -3px;
		left: 11px;
		text-transform: uppercase;
		width: 34px;
		height: 34px;
		&:after {
			content: "";
			position: absolute;
			height: 0;
			width: 4px;
			left: 0;
			bottom: -64%;
			border-right: 17px solid transparent;
			border-bottom: 11px solid transparent;
			border-left: 17px solid transparent;
		}
		&_new {
			font-size: 10px;
			line-height: 20px;
			color: #fff;
			background-color: #42c16c;
			&:after {
				border-top: 11px solid #42c16c;
			}
		}
		&_recommend {
			background-color: #f7c159;
			&:after {
				border-top: 11px solid #f7c159;
			}
			img {
				padding: 0px 0px 3px 0px;
			}
		}
		&_sale {
			background-color: #499ad9;
			font-size: 20px;
			line-height: 25px;
			color: #fff;
			&:after {
				content: "";
				border-top: 11px solid #499ad9;
			}
		}
	}
	&__top {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__image {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		height: 190px;
		margin: 0px 0px 20px 0px;
		img {
			max-width: 100%;
			max-height: 190px;
		}
	}

	&__label {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #4673ab;
		text-decoration: underline;
		transition: all 0.3s ease;
		margin: 0px 0px 20px 0px;
		flex: 1 1 auto;
		&:hover {
			color: #ff5e1e;
		}
	}

	&__price {
		display: flex;
		align-items: flex-end;
		margin: 0px 0px 15px 0px;
	}

	&__text {
		font-weight: 300;
		color: #040d0d;
		font-size: 13px;
		margin: 0px 4px 0px 0px;
	}

	&__value {
		font-size: 20px;
		font-weight: 500;
		margin: 0px 9px 0px 0px;
	}

	&__old-value {
		font-size: 13px;
		text-decoration: line-through;
		color: #ff5e1e;
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background-color: #ff5e1e;
		padding: 14px 15px 10px 15px;
		border-radius: 7px;
		box-shadow: 0px 3px 0px 0px #c44817;
		transition: all 0.3s ease;
		&:hover {
			background-color: #4673ab;
			box-shadow: 0px 3px 0px 0px #365884;
		}
		span {
			padding: 0px 0px 0px 30px;
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
			color: #fff;
			position: relative;
			&:before {
				content: "";
				width: 20px;
				height: 18px;
				position: absolute;
				top: -4px;
				left: 0;
				background: url("../img/icons/cart-white.png") 0px 0px no-repeat;
			}
		}
	}

	&__details {
		color: #4673ab;
		text-decoration: underline;
		font-weight: 300;
		font-size: 13px;
	}
}
.recommend-page {
	margin: 0px 0px 40px 0px;

	&__container {
	}

	&__top {
	}

	&__content {
	}

	&__items {
	}

	&__column {
	}

	&__controls {
	}

	&__arrow {
		&_prev {
		}

		&_next {
		}
	}
}
.sale-page {
	margin: 0px 0px 40px 0px;

	&__container {
	}

	&__top {
	}

	&__content {
	}

	&__items {
	}

	&__column {
	}
}
.actions-page {
	margin: 0px 0px 40px 0px;
	&__container {
	}

	&__top {
	}

	&__content {
	}

	&__items {
	}

	&__column {
	}

	&__item {
		margin: 0px 0px 0px 0px !important;
	}

	&__controls {
	}

	&__arrow {
		&_prev {
		}

		&_next {
		}
	}
}
.column-actions {
	padding: 0px 15px;
}
.item-actions {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	border: 1px solid #dbdee6;
	border-radius: 10px;
	position: relative;
	margin: 3px 0px 0px 0px;
	transition: all 0.3s ease;
	&:hover {
		border-color: #ff5e1e;
	}
	&__title {
		display: inline-block;
		padding: 20px 20px 15px 20px;
		@media (max-width: $md1+px) {
			padding: 20px 10px 15px 10px;
		}
		span {
			font-weight: 500;
			font-size: 16px;
			color: #4673ab;
			border-bottom: 1px solid;
			transition: all 0.3s ease;
			@media (min-width: $md2+px) {
				&:hover {
					color: #ff5e1e;
				}
			}
		}
	}

	&__image {
		display: inline-block;
		margin: 0px 0px 15px 0px;
		padding: 26% 0px;
		width: 100%;
		@media (max-width: $md1+px) {
			margin: 0px 0px 10px 0px;
		}
		img {
			max-width: 100%;
		}
	}

	&__text {
		padding: 0px 20px 15px 20px;
		font-size: 13px;
		color: #040d0d;
		line-height: 18px;
		font-weight: 300;
		flex: 1 1 auto;
		@media (max-width: $md1+px) {
			padding: 0px 10px 10px 10px;
		}
	}

	&__footer {
		display: flex;
		background-color: #dbdee6;
		padding: 15px 20px 10px 20px;
		margin: 0px 0px 14px 0px;
		height: 65px;
		@media (max-width: $md1+px) {
			margin: 0px 0px 10px 0px;
		}
	}

	&__duration {
		font-size: 13px;
		font-weight: 300;
		color: #040d0d;
		line-height: 16px;
		flex: 0 0 35px;
		@media (max-width: $md1+px) {
			display: none;
		}
	}

	&__timer {
	}

	&__more {
		text-align: center;
		display: block;
		padding: 0px 10px 17px 10px;

		span {
			font-weight: 300;
			font-size: 13px;
			color: #4673ab;
			border-bottom: 1px solid;
		}
	}
}
.timer-item {
	flex: 1 1 100%;
	display: flex;
	justify-content: center;
	padding: 0px 0px 0px 10px;
	&__top {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__col {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__amount {
		display: flex;
	}
	&__dots {
		height: 12px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 0px 2px;
		margin: 7px 0px 0px 0px;
	}
	&__dot {
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: #6c6e72;
	}
	&__number {
		display: flex;
		margin: 0px 1px 0px 0px;
		background-color: #1e1e20;
		color: #dbdee6;
		font-size: 16px;
		font-weight: 500;
		padding: 5px 4px;
		border-radius: 3px;
	}
	&__label {
		display: block;
		text-align: center;
		margin: 3px 0px 0px 0px;
		font-weight: 300;
		color: #7f8686;
		font-size: 11px;
	}
	&__termless {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		font-size: 14px;
		color: #337500;
	}
}
.items-control {
	&__arrow {
		&_prev {
		}

		&_next {
		}
	}
}
.buy-page {
	margin: 0px 0px 40px 0px;
	@media (max-width: 660px) {
		display: none;
	}
	&__container {
	}

	&__top {
	}

	&__content {
	}

	&__items {
		display: flex;
		margin: 0px -11px;
	}

	&__item {
	}
}
.item-buy {
	display: flex;
	flex-direction: column;
	padding: 0px 11px;
	&__top {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0px 0px 15px 0px;
	}

	&__image {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 200px;
		img {
			max-width: 100%;
			max-height: 215px;
		}
	}

	&__content {
	}

	&__title {
		span {
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			color: #4673ab;
			border-bottom: 1px solid;
			transition: all 0.3s ease;
			&:hover {
				color: #ff5e1e;
			}
		}
	}
}
.brands-page {
	margin: 0px 0px 40px 0px;
	@media (max-width: 660px) {
		display: none;
	}
	&__container {
	}

	&__top {
	}

	&__content {
		position: relative;
	}

	&__items {
		display: flex;
	}

	&__item {
	}

	&__controls {
	}

	&__arrow {
		&_prev {
			@media (min-width: $md1+px) {
				display: none;
			}
		}

		&_next {
			@media (min-width: $md1+px) {
				display: none;
			}
		}
	}
}
.item-brand {
	display: flex;
	align-items: center;
	justify-content: center;
	&__img {
		img {
			max-width: 100%;
		}
	}
}
.strength-page {
	margin: 0px 0px 40px 0px;
	@media (max-width: 660px) {
		display: none;
	}
	&__container {
	}

	&__content {
		background-color: #e3e5eb;
		border-radius: 10px;
		padding: 35px 30px 25px 30px;
		@media (max-width: $md1+px) {
			padding: 35px 15px 25px 15px;
		}
	}

	&__top {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px 0px 30px 0px;
		@media (max-width: $md1+px) {
			padding: 0px 20px 0px 0px;
		}
	}

	&__title {
		color: #040d0d;
		padding: 0px 20px 0px 0px;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 22px;
		white-space: nowrap;
	}

	&__line {
		flex: 1 1 100%;
		height: 1px;
		background-color: #fff;
	}

	&__items {
		display: flex;
		margin: 0px -30px;
		padding: 0px 30px;
		@media (max-width: $md1+px) {
			margin: 0px -15px;
			padding: 0px 15px;
		}
	}

	&__item {
	}
}
.item-strength {
	flex: 0 1 25%;
	padding: 0px 30px;
	justify-content: center;
	align-items: center;
	@media (max-width: $md1+px) {
		padding: 0px 15px;
	}
	&__top {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: #fff;
		margin: 0px auto 20px auto;
	}

	&__image {
	}

	&__body {
		text-align: center;
	}

	&__title {
		font-weight: 500;
		font-size: 12px;
		text-transform: uppercase;
		color: #040d0d;
	}
}
.reasons-page {
	margin: 0px 0px 40px 0px;
	@media (max-width: 660px) {
		display: none;
	}
	&__container {
	}
	&__top {
		&_title {
		}
	}

	&__header {
		padding: 15px 30px 10px 30px;
		min-height: 75px;
		display: flex;
		align-items: center;
		@media (max-width: $md1+px) {
			padding: 15px 20px 10px 20px;
		}
		@media (max-width: $md2+px) {
			padding: 10px;
		}
	}

	&__content {
	}

	&__row {
		display: flex;
		margin: 0px -15px;
	}

	&__column {
		flex: 0 1 50%;
		padding: 0px 15px;
	}
	&__item {
		border-radius: 10px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		min-height: 100%;
		&_problems {
			border: 1px solid #f6bdbf;
			.reasons-page__header {
				background-color: #cb0b13;
				.reasons-page__title {
					background: url("../img/icons/cross.png") left no-repeat;
				}
			}
		}
		&_solutions {
			border: 1px solid #9bd1a6;
			.reasons-page__header {
				background-color: #16a333;
				.reasons-page__title {
					background: url("../img/icons/ok.png") left no-repeat;
				}
			}
		}
	}
	&__title {
		font-weight: 400;
		font-size: 16px;
		color: #fff;
		text-transform: uppercase;
		line-height: 18px;
		padding: 0px 0px 0px 35px;
		@media (max-width: $md1+px) {
			font-size: 15px;
		}
		@media (max-width: 750px) {
			font-size: 14px;
		}
	}

	&__body {
		padding: 20px 30px;
		@media (max-width: $md1+px) {
			padding: 20px;
		}
		@media (max-width: $md2+px) {
			padding: 20px 10px;
		}
	}

	&__list {
		font-weight: 300;
		color: #040d0d;
		font-size: 15px;
		line-height: 18px;
		flex: 1 1 auto;
		span {
			font-weight: 500;
		}
		li {
			margin: 0px 0px 10px 0px;
		}
		p {
			margin: 0px 0px 10px 0px;
		}
	}

	&__point {
		padding: 0px 0px 0px 15px;
		position: relative;
		@media (max-width: $md1+px) {
			padding: 0px 0px 0px 10px;
		}
		&:before {
			content: "";
			width: 5px;
			height: 5px;
			border-radius: 50%;
			position: absolute;
			top: 5px;
			left: 0;
		}
		&_red {
			&:before {
				background-color: #cb0b13;
			}
		}
		&_green {
			&:before {
				background-color: #16a333;
			}
		}
	}
}
.top-items {
	display: flex;
	align-items: center;
	margin: 0px 0px 35px 0px;
	span {
		flex: 1 1 auto;
		height: 1px;
		background-color: #dbdee6;
	}
	&__title {
		color: #040d0d;
		padding: 0px 10px 0px 0px;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 22px;
	}
}

.number-page {
	margin: 0px 0px 40px 0px;
	@media (max-width: 660px) {
		display: none;
	}
	&__container {
	}

	&__top {
	}
	&__right {
		@media (min-width: 935px) {
			padding: 0 !important;
		}
	}
	&__title {
		padding-right: 25px !important;
		&:after {
			content: "";
			width: 0 !important;
			height: 0 !important;
		}
	}

	&__content {
		position: relative;
		padding: 0px 15px;
		@media (max-width: $md1+px) {
			padding: 0;
		}
	}

	&__items {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0px -25px;
		@media (max-width: $md1+px) {
			margin: 0px -10px;
		}
	}

	&__item {
		padding: 0px 25px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		@media (max-width: $md1+px) {
			padding: 0px 10px;
		}
	}

	&__amount {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 135px;
		height: 135px;
		border-radius: 50%;
		font-weight: 700;
		border: 1px solid #dde0e7;
		margin: 0px 0px 15px 0px;
		&_orange {
			color: #ff5e1e;
		}
		&_blue {
			color: #394a5c;
		}
		&_1 {
			font-size: 80px;
		}
		&_2 {
			font-size: 54px;
		}
		&_3 {
			font-size: 19px;
		}
		&_4 {
			font-size: 80px;
		}
		&_5 {
			font-size: 80px;
		}
		&_6 {
			font-size: 80px;
		}
	}

	&__text {
		color: #040d0d;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 18px;
		font-weight: 500;
		text-align: center;
	}
	&__controls {
	}
	&__arrow {
		&_prev {
			@media (min-width: 935px) {
				display: none;
			}
		}

		&_next {
			@media (min-width: 935px) {
				display: none;
			}
		}
	}
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
