@charset "UTF-8";

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.icon-cart {
  font-size: 1em;
}

.icon-compare {
  font-size: 1em;
}

.icon-skype {
  font-size: 1em;
}

.icon-viber {
  font-size: 1em;
}

.icon-whatsapp {
  font-size: 1em;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none !important;
}

a:focus,
a:active {
  outline: none !important;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto" !important;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto" !important;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 20px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 10px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fd8424;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  border-radius: 3px;
  text-transform: lowercase;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
  min-width: 166px;
}

.select__title {
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #0097ac;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/catalog/select.png") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border-top: 0;
  font-size: 12px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

.select._active .select__options .select__option {
  display: block !important;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  height: 30px;
  display: block;
  padding: 0px 15px;
  background-color: #eff0f4;
}

.input._error {
  border: 1px solid red;
}

textarea.input {
  resize: none;
  padding: 5px 15px;
  height: 120px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  border: 2px solid #009aaf;
}

.checkbox__input:checked + .checkbox__text:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 9px;
  height: 9px;
  background-color: #53b5de;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 12px;
  font-weight: 300;
  color: #666666;
  letter-spacing: -0.3px;
  line-height: calc(15 / 12);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15px;
          flex: 0 0 15px;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 2px solid #dadada;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 118px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 17px;
  background: url("../img/icons/catalog/pagging-arrow.png") 0 0/100% no-repeat;
}

.quantity__button_plus {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 1px solid #e5e5e5;
  margin: 0px 15px;
}

.quantity__input input {
  height: 100%;
  color: #999999;
  font-size: 16px;
  font-weight: 900;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.moretext {
  overflow: hidden;
}

.moretext__more {
  cursor: pointer;
}

.moretext__more span {
  font-style: normal;
}

.moretext__more span:first-child {
  display: block;
}

.moretext__more span:last-child {
  display: none;
}

.moretext__more.active span {
  font-style: normal;
}

.moretext__more.active span:first-child {
  display: none;
}

.moretext__more.active span:last-child {
  display: block;
}

.delivery-footer__item {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}

.delivery-footer__item:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper > div {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-autoheight > div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-slider .slick-slide {
  position: relative;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.gm-style-iw-t {
  opacity: 0;
}

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important;
}

.baloon button {
  display: none !important;
}

.baloon:after {
  display: none !important;
}

.baloon-style {
  display: none;
}

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}

.baloon-content.gm-style-iw > .gm-style-iw-d {
  overflow: hidden !important;
  max-width: none !important;
}

.baloon-content.gm-style-iw:after {
  display: none !important;
}

.baloon-close {
  top: 18px !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.pagging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagging__arrow {
  width: 33px;
  height: 28px;
  cursor: pointer;
  background: url("../img/icons/catalog/pagging-arrow.png") center 0/100% no-repeat;
}

.pagging__arrow:last-child {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.pagging__arrow:last-child:hover {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.pagging__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 30px;
}

.pagging__item {
  color: #333;
  font-weight: 900;
  font-size: 18px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagging__item._active {
  background-color: #fd8424;
  color: #fff;
}

/*JS version*/

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 1040;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hiden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup__content {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0rem 1.5rem;
}

.popup__body {
  background-color: #fff;
  border-radius: .6rem;
  width: 100%;
  max-width: 61.5rem;
  padding: 6.1rem 8.8rem;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
  opacity: 0;
}

.popup__close {
  position: absolute;
  right: 2.4rem;
  top: 2.2rem;
  width: 2rem;
  height: 2rem;
  opacity: 0.3;
}

.popup__close:hover {
  opacity: 1;
}

.popup__close:before,
.popup__close:after {
  content: '';
  position: absolute;
  left: 0rem;
  height: .2rem;
  width: 100%;
  background-color: #333;
}

.popup__close:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.popup__close:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popupInfo__title {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 3.3rem;
  text-align: center;
  color: #37373F;
  margin-bottom: 3.1rem;
}

.form-popupInfo {
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: .1rem;
}

.form-popupInfo__field {
  margin-bottom: 1rem;
}

.form-popupInfo__field__credit {
  margin-bottom: 0rem;
}

.form-popupInfo__field_checkbox {
  margin: 3.4rem 0rem 2.3rem 0rem;
  padding-left: 2.6rem;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: #37373F;
}

.form-popupInfo__field_checkbox a {
  color: #37373F;
}

.form-popupInfo__field_checkbox a:hover {
  text-decoration: underline;
}

.form-popupInfo__field_checkbox:hover .checkmark {
  background-color: #ccc;
}

.form-popupInfo__label {
  font-weight: 500;
  margin-bottom: 1rem;
  color: #37373F;
}

.form-popupInfo__label:after {
  content: "*";
  font-weight: 500;
  color: red;
}

.form-popupInfo__input {
  width: 100%;
  padding: 1.3rem 2rem 1.1rem 2rem;
  border: .1rem solid #C7C7C7;
  border-radius: .3rem;
}

.form-popupInfo__input_date {
  cursor: pointer;
  background: url("../img/icons/Calendar.svg") right 2.6rem center no-repeat, url("../img/icons/Rectangle 3.svg") right 2rem center no-repeat;
}

.form-popupInfo__input_terms {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

.form-popupInfo__input_terms:checked ~ .checkmark {
  background-color: #1ab9ce;
}

.form-popupInfo__input_terms:checked ~ .checkmark:after {
  display: block;
}

.form-popupInfo__btn {
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: .1rem;
  text-align: center;
  padding: 2.7rem 12.9rem;
  color: #fff;
  background-color: #1ab9ce;
  border-radius: .3rem;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.form-popupInfo__btn:hover {
  text-decoration: none;
  background-color: #ec940e;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.6rem;
  width: 1.6rem;
  background-color: #e8e8e8;
  border-radius: .2rem;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: .6rem;
  top: .4rem;
  width: .5rem;
  height: .7rem;
  border: solid white;
  border-width: 0 .2rem .2rem 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.input__group {
  border: .1rem solid #C7C7C7;
  border-radius: .3rem;
}

.input__group_card {
  color: #C7C7C7;
}

.input__group input {
  border-radius: 0rem;
  border: none;
}

.input__group input:nth-child(1) {
  border-bottom: .1rem solid #C7C7C7;
}

.input__group input:nth-child(2) {
  border-right: .1rem solid #C7C7C7;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__body {
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
}

/*css and HTML*/

/*.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hiden;
	transition: all 0.3s ease 0s;
	&__content {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 3rem 1rem;
	}
	&__body {
		background-color: #fff;
		color: #000;
		max-width: 80rem;
		padding: 3rem;
		position: relative;
		transition: all 0.3s ease 0s;
		transform: translate(0,-100%);
		opacity: 0;
	}
	&__close {
		position: absolute;
		right: 1rem;
		top: 1rem;
		font-size: 2rem;
		color: #000;
		text-decoration: none;
	}
	&__area {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.popup:target {
	opacity: 1;
	visibility: visible;
	.popup__body {
		transform: translate(0,0%);
		opacity: 1;
	}
}
*/

/*//====================================================================================================
.popup {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 100;
	padding: 30px 10px;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	&::before {
		content: "";
		background-color: rgba(0, 0, 0, 0.9);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 0.8s ease 0s;
	}
	&.show {
		visibility: visible;
		&::before {
			opacity: 1;
		}
		.popup__body {
			transform: scale(1);
		}
	}
	&._active {
		visibility: visible;
		&::before {
			opacity: 1;
		}
		.popup__body {
			transition: all 0.3s ease 0.2s;
			transform: scale(1);
		}
	}
	// .popup__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .popup__body
	&__body {
		transform: scale(0);
		transition: all 0.3s ease 0s;
		background-color: #fff;
		color: #000;
		padding: 50px;
		width: 100%;
		max-width: 800px;
	}
	// .popup__close
	&__close {
		width: 15px;
		height: 15px;
		position: absolute;
		top: 0px;
		right: 0px;
		cursor: pointer;
		z-index: 30;
		background: url("../img/icons/close.svg") 0 0 no-repeat;
	}
}
//====================================================================================================
//====================================================================================================*/

.header__top {
  background-color: #040d0d;
  margin: 0px 0px 10px 0px;
}

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 10px 0px;
}

.header__region {
  font-weight: 300;
  font-size: 13px;
  color: #323232;
}

.header__region a {
  color: #4673ab;
  border-bottom: 1px dotted;
}

.header__user-info {
  font-weight: 300;
  font-size: 13px;
  color: #4673ab;
}

.header__login {
  margin: 0px 20px 0px 0px;
  border-bottom: 1px solid #4673ab;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__profile {
  border-bottom: 1px solid #4673ab;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.top-header__menu {
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__dropdown {
  position: relative;
}

.menu__link {
  padding: 5px 23px;
  border-right: 1px dotted #323232;
  display: block;
  font-size: 13px;
  font-weight: 300;
  color: #bdc3c5;
  text-align: center;
  white-space: nowrap;
}

.menu__link span {
  padding: 0px 18px 0px 0px;
  background: url("../img/icons/arrow-down.png") right no-repeat;
}

.dropdown__content {
  list-style: none;
  display: none;
  background-color: #040d0d;
  padding: 10px 0px 10px 0px;
}

.dropdown__link {
  display: block;
  font-size: 13px;
  line-height: 15px;
  font-weight: 300;
  color: #bdc3c5;
  padding: 10px 25px;
}

.actions-menu {
  display: none;
  position: fixed;
  width: 100%;
  background-color: #040d0d;
  height: 40px;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 5;
}

.actions-menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  right: calc(50% - 32px);
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.actions-menu__label {
  color: #bdc3c5;
  font-weight: 300;
  font-size: 13px;
  margin: 0px 0px 0px 9px;
}

.info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-header__logo {
  display: inline-block;
}

.info-header__logo img {
  max-width: 100%;
}

.info-header__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 10px 0px;
}

.info-header__label .rub {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #6c7a87;
  position: relative;
}

.info-header__label .rub:after {
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #6c7a87;
  font-size: 15px;
}

.info-header__label_text {
  margin: 0px 0px 0px 6px;
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 118.75%;
  color: #040d0d;
  font-weight: 500;
}

.info-header__label_text span {
  display: block;
  color: #ff5816;
  font-size: 18px;
  font-weight: 400;
}

.info-header__search-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url("../img/icons/search.png") 0 0 no-repeat;
  margin: 15px 20px 0px 0px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__bubble {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 98px;
          flex: 0 0 98px;
  width: 98px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  line-height: 150%;
  text-transform: uppercase;
  color: #4673ab;
  border: 2px solid #dbdee6;
  border-radius: 10px;
  position: relative;
  margin: 0px 30px 0px 0px;
}

.contacts__bubble:before,
.contacts__bubble:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 0px;
}

.contacts__bubble:before {
  right: -17px;
  top: 12px;
  border: 16px solid;
  border-left: 0px;
  border-color: #dbdee6 transparent transparent #dbdee6;
}

.contacts__bubble:after {
  top: 14px;
  right: -12px;
  border: 14px solid;
  border-left: 0px;
  border-color: #fff transparent transparent transparent;
}

.contacts__bubble span {
  border-bottom: 1px dotted;
}

.contacts__box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 198px;
          flex: 0 0 198px;
  width: 198px;
}

.box-contacts__phone {
  color: #040d0d;
  font-size: 22px;
  margin: 0px 0px 10px 0px;
  font-weight: 500;
}

.box-contacts__days {
  margin: 0px 0px 7px 0px;
  color: #040d0d;
  font-size: 13px;
}

.box-contacts__email {
  font-size: 13px;
  color: #4673ab;
  text-decoration: underline;
}

.social-contacts {
  margin: 0px 0px 3px 0px;
  display: inline-block;
}

.social-contacts__chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 3px 0px;
}

.social-contacts__skype {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.chat-social__whatsapp {
  fill: #4dc95c;
  margin: 0px 3px 0px 0px;
  font-size: 16px;
}

.chat-social__viber {
  fill: #7b519c;
  margin: 0px 5px 0px 0px;
  font-size: 16px;
}

.chat-social__tel {
  color: #040d0d;
  font-size: 13px;
}

.chat-social__skype {
  fill: #00adef;
  margin: 0px 5px 0px 0px;
  font-size: 16px;
}

.chat-social__skype-login {
  color: #040d0d;
  font-size: 13px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eff0f4;
  border-radius: 3px;
  position: relative;
}

.search__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.search__btn {
  position: absolute;
  top: 50%;
  right: 2px;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.info-shopping__actions {
  font-size: 11px;
  line-height: 17px;
  font-weight: 300;
  color: #040d0d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

.info-shopping__favorites {
  display: inline-block;
  padding: 0px 0px 3px 21px;
  background: url("../img/icons/heart.png") left center no-repeat;
  border-bottom: 1px dashed #4673ab;
  margin: 0px 13px 0px 0px;
}

.info-shopping__favorites span {
  margin-left: 5px;
  color: #4673ab;
}

.info-shopping__compare {
  display: inline-block;
  padding: 0px 0px 3px 21px;
  background: url(../img/sprite.svg#compare) no-repeat;
  background-color: #ff5816;
  border-bottom: 1px dashed #4673ab;
}

.info-shopping__compare span {
  margin-left: 7px;
  color: #4673ab;
}

.cart-shopping-info {
  background: none;
  padding: 0px 0px 0px 0px;
}

.cart-shopping-info__icon {
  display: inline-block;
  margin: 0px 15px 0px 0px;
  position: relative;
}

.cart-shopping-info__icon svg {
  width: 26px;
  height: 23px;
}

.cart-shopping-info__label {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 5px;
  color: #040d0d;
}

.cart-shopping-info__amount {
  font-weight: 400;
}

.cart-shopping-info__amount a {
  text-decoration: underline;
  color: #4673ab;
}

.footer {
  position: relative;
  z-index: 2;
}

.footer__column:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__payments img {
  max-width: 100%;
}

.footer__bottom {
  text-align: center;
}

.footer__copy {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 12px;
  font-weight: 300;
  color: #999999;
}

.block-footer {
  padding-bottom: 20px;
  text-align: center;
}

.block-footer__column:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 165px;
          flex: 0 0 165px;
}

.block-footer__column:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.block-footer__logo {
  display: inline-block;
  margin-bottom: 25px;
}

.block-footer__phones {
  display: inline-block;
  background: url("../img/icons/footer/phone.png") left no-repeat;
  padding-left: 35px;
}

.block-footer__phones p {
  margin-bottom: 5px;
}

.block-footer__phones p:last-child {
  margin: 0;
}

.block-footer__phone {
  color: #333;
  font-weight: 900;
}

.delivery-footer__title {
  margin-bottom: 15px;
  font-weight: 900;
  text-transform: uppercase;
  color: #999;
}

.delivery-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px -15px;
}

.delivery-footer__item {
  padding: 15px;
}

.widgets-footer {
  text-align: center;
  margin-bottom: 20px;
}

.widgets-footer__column {
  display: block;
  margin-bottom: 20px;
}

.social-footer {
  text-align: center;
}

.social-footer__item {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}

.social-footer__item:last-child {
  margin: 0;
}

.ibg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ibg img {
  display: none;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 160px;
}

@media (min-width: 360px) {
  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12px 0px;
    border-top: 1px solid #dadada;
  }

  .social-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 560px) {
  .block-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .block-footer__column:last-child {
    padding-left: 45px;
  }

  .widgets-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .widgets-footer__column {
    padding-right: 30px;
  }

  .widgets-footer__column:last-child {
    padding: 0;
  }
}

@media (min-width: 700px) {
  .cart-shopping-info {
    margin: 0px 0px 5px 0px;
    height: 52px;
    background: url("../img/icons/cart-bg.jpg") 0 0 no-repeat;
    padding: 10px 0px 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 13px;
    color: #040d0d;
    position: relative;
    border-radius: 10px;
  }
}

@media (min-width: 991.98px) {
  .quantity__button_plus:hover {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background: url("../img/icons/catalog/pagging-arrow-active.png") 0 0/100% no-repeat;
  }

  .quantity__button_minus:hover {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background: url("../img/icons/catalog/pagging-arrow-active.png") 0 0/100% no-repeat;
  }

  .pagging__arrow:hover {
    background: url("../img/icons/catalog/pagging-arrow-active.png") center 0/100% no-repeat;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

  .header__login:hover {
    border: none;
  }

  .header__profile:hover {
    border: none;
  }

  .menu__list > li {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .menu__list > li:first-child {
    padding-left: 0;
  }

  .menu__list > li:last-child {
    padding-right: 0;
  }

  .menu__list > li:last-child .menu__link {
    border: none;
  }

  .menu__list > li:hover {
    background-color: #323232;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__dropdown:hover .dropdown__content {
    display: block;
  }

  .dropdown__content > li {
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .dropdown__content > li:hover {
    background-color: #323232;
  }

  .dropdown__content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    z-index: 100;
  }

  .info-header__search-icon {
    display: none;
  }

  .box-contacts__email:hover {
    text-decoration: none;
  }

  .social-contacts__skype {
    display: none;
  }

  .footer__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px -15px;
  }

  .footer__column {
    padding: 0px 15px;
    margin-bottom: 25px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (min-width: 992px) {
  .btn:hover {
    background-color: #b86029;
  }

  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1192px) {
  .info-header__label_text {
    font-size: 13px;
  }

  .info-header__label_text span {
    font-size: 16px;
  }

  .contacts__bubble {
    margin: 0px 20px 0px 0px;
  }
}

@media (max-width: 1180px) {
  .menu__link {
    padding: 15px 1.69492vw 15px 1.69492vw;
  }

  .info-header__column {
    padding-right: 1.69492vw;
  }

  .info-header__column:last-child {
    padding: 0;
  }
}

@media (max-width: 1110px) {
  .menu__link {
    padding: 15px 1.27119vw 15px 1.27119vw;
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .menu__body {
    display: none;
    padding: 50px 0px 15px 0px;
    width: 100%;
  }

  .menu__body:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    background-color: #040d0d;
  }

  .menu__list > li {
    margin: 0px 0px 15px 0px;
  }

  .menu__list > li:last-child {
    margin: 0px 0px 0px 0px;
  }

  .menu__link {
    border-right: none;
    padding: 0;
    font-size: 16px;
  }

  .dropdown__content > li {
    margin: 0px 0px 10px 0px;
  }

  .dropdown__content > li:last-child {
    margin: 0px 0px 0px 0px;
  }

  .dropdown__content {
    padding: 10px 0px 0px 0px;
  }

  .dropdown__link {
    text-align: center;
    padding: 0px;
    font-size: 15px;
  }

  .actions-menu {
    display: block;
  }

  .icon-menu {
    width: 32px;
    height: 15px;
    position: relative;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1.5px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ff6837;
    border-radius: 1px;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1.5px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1.5px);
  }

  .info-header__column:nth-child(3) {
    display: none;
  }

  .contacts {
    margin-top: -15px;
  }

  .footer__payments {
    padding-bottom: 20px;
    text-align: center;
  }
}

@media (max-width: 820px) {
  .info-header__column:nth-child(2) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .contacts__bubble {
    display: none;
  }

  .box-contacts {
    text-align: right;
  }
}

@media (max-width: 767.98px) {
  .popup__body {
    padding: 5.1rem 1rem 3.6rem 1rem;
  }

  .popupInfo__title {
    margin-bottom: 2.4rem;
  }

  .form-popupInfo__field_checkbox {
    margin: 2.3rem 0rem;
  }

  .form-popupInfo__btn {
    padding: 1.6rem 6.8rem;
    font-size: 1.4rem;
  }

  .input__group input:nth-child(2) {
    border-right: none;
    border-bottom: .1rem solid #C7C7C7;
  }

  .page {
    padding-top: 133px;
  }
}

@media (max-width: 700px) {
  .header__user {
    margin: 0px 0px 20px 0px;
  }

  .header__login {
    font-size: 0;
  }

  .info-header__content {
    margin: 0px 5px 15px 0px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .info-header__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 0px 0px;
  }

  .info-header__column:nth-child(2) {
    display: none;
  }

  .info-header__logo {
    width: 148px;
    margin: 0px 0px 15px 0px;
  }

  .info-header__search-icon {
    margin: 0px 20px 0px 0px;
  }

  .box-contacts__phone {
    font-size: 17px;
    margin: 0px 0px 5px 0px;
  }

  .box-contacts__days {
    display: none;
  }

  .box-contacts__email {
    margin: 0px 0px 8px 0px;
    text-align: right;
  }

  .social-contacts__skype {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .info-shopping__actions {
    display: none;
  }

  .cart-shopping-info__icon {
    margin: 0px 0px 0px 0px;
  }

  .cart-shopping-info__icon:before {
    content: "10";
    position: absolute;
    top: -12px;
    right: -6px;
    background: url("../img/icons/cart-bg.jpg") center no-repeat;
    padding: 3px 5px;
    color: #ff5816;
    font-size: 10px;
    font-weight: 30;
    border-radius: 4px;
  }

  .cart-shopping-info__content {
    display: none;
  }
}

@media (max-width: 640px) {
  .page {
    padding-top: 85px;
  }
}

@media (max-width: 560px) {
  .block-footer__column:first-child {
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .block-footer__phones {
    background: none !important;
    padding-left: 0;
  }

  .block-footer__phone {
    font-size: 18px;
  }

  .delivery-footer {
    text-align: center;
  }

  .delivery-footer__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 360px) {
  .footer__copy {
    margin-bottom: 15px;
  }
}
@supports (-webkit-appearance:none){
.select__value:before{background:url("../img/icons/catalog/select.webp") center/100% no-repeat}
.rating__line{background:url("../img/icons/bg_rating.svg") 0 0 no-repeat}
.rating__activeline{background:url("../img/icons/bg_rating_active.svg") 0 0 no-repeat}
.quantity__button{background:url("../img/icons/catalog/pagging-arrow.webp") 0 0/100% no-repeat}
#map{background:url("../img/icons/loading.gif") center/50px no-repeat}
.pagging__arrow{background:url("../img/icons/catalog/pagging-arrow.webp") center 0/100% no-repeat}
.form-popupInfo__input_date{background:url("../img/icons/Calendar.svg") right 2.6rem center no-repeat, url("../img/icons/Rectangle 3.svg") right 2rem center no-repeat}
.menu__link span{background:url("../img/icons/arrow-down.webp") right no-repeat}
.info-header__search-icon{background:url("../img/icons/search.webp") 0 0 no-repeat}
.info-shopping__favorites{background:url("../img/icons/heart.webp") left center no-repeat}
.info-shopping__compare{background:url(../img/sprite.svg#compare) no-repeat}
.block-footer__phones{background:url("../img/icons/footer/phone.webp") left no-repeat}
}

 @media (min-width: 360px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 560px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 700px){

@supports (-webkit-appearance:none){
.cart-shopping-info{background:url("../img/icons/cart-bg.webp") 0 0 no-repeat}
}

}

 @media (min-width: 991.98px){

@supports (-webkit-appearance:none){
.quantity__button_plus:hover{background:url("../img/icons/catalog/pagging-arrow-active.webp") 0 0/100% no-repeat}
.quantity__button_minus:hover{background:url("../img/icons/catalog/pagging-arrow-active.webp") 0 0/100% no-repeat}
.pagging__arrow:hover{background:url("../img/icons/catalog/pagging-arrow-active.webp") center 0/100% no-repeat}
}

}

 @media (min-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1192px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1180px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1110px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 820px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 700px){

@supports (-webkit-appearance:none){
.cart-shopping-info__icon:before{background:url("../img/icons/cart-bg.webp") center no-repeat}
}

}

 @media (max-width: 640px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 560px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 360px){

@supports (-webkit-appearance:none){

}

}
